@import "../variables";
main{
    padding: 30px 0;
    h1,p,h2,h3{
        color: white !important;
    }
    .subMenu{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 10px;
        background-color: $color-third;
    }
    #mainContainer{
        width: 90%;
        margin: auto;
        padding: 20px;
        background-color: $color-third;
        border-radius: 20px;
        #mainCurso{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .titulo{
                padding: 20px;
            }
        }
        .video{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #containerDescripcion{
            p{
                padding: 0 20px;
            }
            ul{
                list-style: none;
                li{
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    #foro{
        background-color: $color-third;
        border-radius: 20px;
        padding: 15px;
        width: 90%;
        margin: 10px auto;
    }
}
.menuClases{
    position: fixed;
    z-index: 998;
    width: 200px;
    background-color: $background-color;
    transition: transform 3s ease;
    transform: translate(-80%, 0%);
}

.menuClases.is-active{
    transform: translate(0%, 0);
}

.subMenu-btn{
    z-index: 999;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuClases a:hover{
    font-weight: bold;
    color: $background-color;
    background-color: $color-secundary;
}

.tab-pane, .nav-link{
    color: white;
}

#nav-recursos{
    ul{
        li{
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
@media(min-width: 850px){
    main{
        display: flex;
        #mainContainer{
            width: 70%;
        }
        .video{
            display: flex;
            justify-content: center;
        }
        #foro{
            width: 25%;
        }
    }
    #mainCurso{
        .titulo{
            width: 500px
        }
    }

}