{% extends '../base.html' %}
{% load static %}
{% block 'title' %}Crear{% endblock %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'css/pedidos/pedidos.css' %}">
{% endblock %}

{% block 'content' %}
    
    <div id="main-container">
        <h1>Lista de Pedidos</h1>
        <div class="buscador">
            <form class="search" action="{% url 'pedidos' %}" method="GET">
                <input class="search-bar" type="text" name="search" placeholder="Buscar pedidos...">
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
                <span class="aux-btns"><a class="btn btn-primary" href="{% url 'pedidos' %}">Ver todos</a> </span>
            </form>
        </div>
        
        <div><title></title></div>
        <table id="tablaPedidos">
            <thead>
                <tr id="table-title">
                    <th>#Orden</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Actuadores</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr class="table-inf">
                    <td class="inf-id">{{ pedido.id }}</td>
                    <td class="inf-cliente">{{ pedido.alumno.nombre}} {{pedido.alumno.apellido}}</td>
                    <td class="inf-fecha">{{ pedido.fecha }}</td>
                    <td class="inf-total">$ {{ pedido.total }}</td>
                    <td class="botones">
                        <span>
                            <button class="btn btn-primary" type="button" onclick="abrir_modal('../pedidos/detalle/{{pedido.id}}')"><i class="bi bi-file-text"></i></button> 
                            {% if pedido.aprobado == False %}
                                <a class="btn btn-success" onclick="aprobar('{{pedido.pk}}')"><i class="bi bi-file-earmark-check"></i></a>
                            {% endif %}
                            <button class="btn btn-danger" type="button" onclick="abrir_modal('../pedidos/delete/{{pedido.id}}')"><i class="bi bi-trash"></i></button>                            
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- The Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalCategoria" aria-hidden="true" role="dialog">
    </div>
{% endblock 'content' %}


{% block script %}
    <script>
        $('#tablaPedidos').DataTable();
        $('#tablaRecursos').DataTable();
        $('#tablaCursos').DataTable();
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        function eliminar_pedido(pk){
            $.ajax({
                data:{
                    csrfmiddlewaretoken: $("[name = 'csrfmiddlewaretoken']").val()
                },
                url: '../pedidos/delete/'+pk,
                type: 'post',
            }).done(function(data){
                mensajeSuccess('El pedido ha sido eliminado con exito')
            }).fail(function(error){

            })
        }
        function aprobar(pk){
            $.ajax({
                url: "{% url 'createPedidos' %}",
                type: 'post',
                headers: {'X-CSRFToken': csrftoken},
                data:{
                    accion: 'aprobar',
                    id: pk
                },
                dataType: 'json',
            }).done(function(data){
                if (data['error'] == '') {
                    mensajeSuccess('El pedido ha sido aprobado con exito')
                }else{
                    mensajeError(data['error'])
                }
            }).fail(function(error){

            })
        }
    </script>    
{% endblock script %}
    
