{% extends '../base.html' %} 
{% load static %}
{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'css/cursos/cursos.css' %}">
{% endblock%}
{% block 'content' %}
    <section id="introContainer">
        <h1>Alcanza nuevas alturas ¡Empiece su curso en línea hoy!</h1>
        <p>¡Aumente sus habilidades y tenga un impacto! Su carrera empresarial empieza aquí. Es hora de iniciar un curso.</p>
    </section>          
    <div id="mainContainer"> 
        <div class="buscador">
            <form class="search" action="{% url 'cursos' %}" method="GET">
                <input class="search-bar" type="text" name="search" placeholder="Buscar cursos">
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
                <span class="aux-btns"><a class="btn btn-primary" href="{% url 'cursos' %}">Ver todos</a></span>
            </form> 
        </div>
        <section id="containerCursos">
            {% for curso in cursos %}
                <div class="cardCurso">
                    <div class="imgPortada">
                        <img src="../../media/{{curso.portada}}" alt="">
                    </div>
                    <hr>
                    <div class="descripcionCurso">
                        {% if detallescursos|length > 0 %}
                        <h4> <a href="{% url 'detalleCursos' pk=curso.id clase=0%}">{{curso.titulo}}</a> </h4>
                        {% else %}
                        <h4> <a href="{% url 'introCursos' pk=curso.id%}">{{curso.titulo}}</a> </h4>
                        {% endif %}
                        <p>{{curso.descripcion}} </p>
                    </div>
                    <hr>
                    <div class="footerCard text-end">
                        <p><b>Precio: </b> $ {{curso.precio}}</p>
                        {% if user.is_authenticated%}
                            <button id="add-button-{{curso.id}}" value="{{curso.id}}" class="btn btn-success" onclick="add('{{curso.id}}','{{user.id}}')">Comprar</button>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn btn-success">Comprar</a>
                        {% endif %}
                    </div >
                    {% if user.id == curso.profesor.id %}
                        <hr>
                        <div class="col-12 text-center" id="eliminarCurso"><button class="btn btn-danger" onclick="abrir_modal('../cursos/delete/{{curso.id}}')">Eliminar</button></div>  
                    {% endif %}
                </div>
            {% endfor %}
            
            {% for g in user.groups.all %}
                {% if g.name == "profesor" %}
                    <div class="addCurso">
                        <div>
                            <a href="{% url 'createCursos' %}"><i class="bi bi-plus-lg"></i></a>
                        </div>
                    </div>
                {% endif %}  
            {% endfor %}    
        </section>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalCategoria" aria-hidden="true" role="dialog">
    </div>
{% endblock 'content' %}


{% block script %}
    <script>
        const csrftoken = getCookie('csrftoken');
        var $valorCarrito = document.getElementById('cantidadProductos')
        {% for curso in cursos %}
            {% for detalle in detallescursos %}
                {% if detalle.curso.id == curso.id %}
                    $buttonA = document.getElementById('add-button-{{curso.id}}')
                    $buttonA.setAttribute('style','display:none;')
                {% endif %}
            {% endfor %}
        {% endfor %}
        function add(id,userId){
            $.ajax({
                url: '{% url "carritoAdd" %}',
                type: 'post',
                headers: {'X-CSRFToken': csrftoken},
                data: {
                    id: id,
                    tipo: "curso",
                    action: 'addCurso'
                },
                dataType: 'json',
            }).done(function(data){
                if (data['error'] == '') {
                    mensajeSuccess('Curso añadido con exito')
                    $valorCarrito.innerHTML = data['cant']
                }else{
                    mensajeError(data['error'])
                }
            }).fail(function(data){
                mostrarErrores(data, 'producto');
            }).always(function(data){
                // alert("complete");
            });
        }
        function eliminar_curso(pk){
            $.ajax({
                data:{
                    csrfmiddlewaretoken: $("[name = 'csrfmiddlewaretoken']").val()
                },
                url: '../cursos/delete/'+pk,
                type: 'post',
            }).done(function(data){
                mensajeSuccess('El curso ha sido eliminado con exito')
            }).fail(function(error){

            })
        }
    </script>
{% endblock script %}
    

