$color-primary: #1a98ef;
$color-secundary: #c9c9d3;
$color-third: #056ac2;
$background-color: #292927 ;
$background-color-menu: #fcfcf9;
$font-principal: "PT Sans", "Odoo Unicode Support Noto", sans-serif;;
